
.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    justify-content: center;
    background-color: hsl(180, 98%, 49%);
    margin-left: 300px;
}
table td {
    border: 1px solid grey;
    width: 101px;
    height: 100px;
}
